<h1>Editing player score</h1>

<%= render "form", player_score: @player_score %>

<br>

<div>
  <%= link_to "Show this player score", @player_score %> |
  <%= link_to "Back to player scores", player_scores_path %>
</div>
