<p style="color: green"><%= notice %></p>

<h1>Player scores</h1>

<div id="player_scores">
  <% @player_scores.each do |player_score| %>
    <%= render player_score %>
    <p>
      <%= link_to "Show this player score", player_score %>
    </p>
  <% end %>
</div>

<%= link_to "New player score", new_player_score_path %>
