<div id="<%= dom_id team_match %>">
  <p>
    <strong>Date:</strong>
    <%= team_match.date %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= team_match.home_team_id %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= team_match.away_team_id %>
  </p>

</div>
