<h1>Editing team match</h1>

<%= render "form", team_match: @team_match %>

<br>

<div>
  <%= link_to "Show this team match", @team_match %> |
  <%= link_to "Back to team matches", team_matches_path %>
</div>
